:root {
  /* main color and buttons */
  --main-color: #0069ae;
  --accent-color: #6f0273;
  --grey: #484848;
  --beige: #bfb497;
  --blue: #6f0273;
  --grey-font: #5f5f5f;
}

html {
  font-family: "noto-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "noto-sans" !important;
  max-width: 1920px !important;
  margin-left: auto;
  margin-right: auto;
}

.v-application,
.v-application .headline {
  font-family: "noto-sans" !important;
}

.text-content {
  font-size: 20px;
}

@media (min-width: 600px) {
  .assignmenttext {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.sticky-icon {
  position: fixed; /* Set the position to fixed */
  bottom: 45px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 999; /* Set a high z-index to ensure it's above other content */
}

/* Style for the container to center the FAQ content */
/* Style for the container to center the FAQ content */
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

/* Style for each FAQ row */
.faq-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the spacing between FAQ items */
  margin: 5px;
}

/* Style for the accordion */
.accordion {
  background-color: var(--calendar-purple);
  border: 1px solid #ddd;
  padding: 10px;
  width: 460px; /* Adjust the width as needed */
  height: calc(33.33% - 20px); /* 3 items in a row with 20px spacing */
  text-align: left; /* Align text to the left */
  transition: background-color 0.2s ease; /* Add a smooth transition effect */
  overflow: hidden;
}

/* Style for the active (open) accordion */
.accordion.active {
  background-color: var(--calendar-purple);
  height: auto; /* Allow the height to adjust dynamically when open */
}

/* Style for the accordion header (question) */
.accordion-header {
  cursor: pointer;
}

/* Style for the panel (answer) */
.panel {
  display: none;
  padding: 10px;
  width: 100%;
  background-color: var(--calendar-purple);
  border: 1px solid #ddd;
  border-top: none;
}

/* Style for the active (open) panel */
.panel.active {
  display: block;
}
.scroll-content {
  animation: scrollRightToLeft 20s linear infinite; /* Adjust duration as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow content */
}
@keyframes scrollRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
h4 {
  font-weight: bolder !important;
  font-size: 20px !important;
  text-decoration: underline !important;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/updated-font/NotoSans-SemiCondensed.ttf);
  font-weight: normal;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/NotoSans-SemiCondensedLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/NotoSans-SemiCondensedThin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/NotoSans-SemiCondensedBold.eot);
  src: url(../fonts/NotoSans-SemiCondensedBold.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/NotoSans-SemiCondensedBold.woff2) format("woff2"),
    url(../fonts/NotoSans-SemiCondensedBold.woff) format("woff"),
    url(../fonts/NotoSans-SemiCondensedBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/NotoSans-SemiCondensedBoldItalic.eot);
  src: url(../fonts/NotoSans-SemiCondensedBoldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/NotoSans-SemiCondensedBoldItalic.woff2) format("woff2"),
    url(../fonts/NotoSans-SemiCondensedBoldItalic.woff) format("woff"),
    url(../fonts/NotoSans-SemiCondensedBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/NotoSans-SemiCondensedMedium.eot);
  src: url(../fonts/NotoSans-SemiCondensedMedium.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/NotoSans-SemiCondensedMedium.woff2) format("woff2"),
    url(../fonts/NotoSans-SemiCondensedMedium.woff) format("woff"),
    url(../fonts/NotoSans-SemiCondensedMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/NotoSans-SemiCondensedMediumItalic.eot);
  src: url(../fonts/NotoSans-SemiCondensedMediumItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/NotoSans-SemiCondensedMediumItalic.woff2) format("woff2"),
    url(../fonts/NotoSans-SemiCondensedMediumItalic.woff) format("woff"),
    url(../fonts/NotoSans-SemiCondensedMediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/NotoSans-SemiCondensed.eot);
  src: url(../fonts/NotoSans-SemiCondensed.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/NotoSans-SemiCondensed.woff2) format("woff2"),
    url(../fonts/NotoSans-SemiCondensed.woff) format("woff"),
    url(../fonts/NotoSans-SemiCondensed.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/NotoSans-SemiCondensedItalic.eot);
  src: url(../fonts/NotoSans-SemiCondensedItalic.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/NotoSans-SemiCondensedItalic.woff2) format("woff2"),
    url(../fonts/NotoSans-SemiCondensedItalic.woff) format("woff"),
    url(../fonts/NotoSans-SemiCondensedItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Top Bar */
.nnit-top-bar {
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: #003a60 solid 10px;
}

.v-navigation-drawer {
  padding-top: 75px;
}

#app {
  max-width: 100vw;
  overflow: hidden;
}

.left-nav {
  top: 130px !important;
  border-bottom: 2px solid rgb(0, 58, 96);
  width: 100% !important;
  z-index: 56;
  height: unset !important;
  transform-origin: top !important;
}

.left-nav-icon {
  transform: rotate(90deg);
  margin-right: 5px;
  margin-top: 5px;
}

.left-nav > .v-navigation-drawer__content > .nav-img-container > img {
  width: 100%;
}

.left-nav
  .v-navigation-drawer__content
  .v-list-item
  > .v-list-item__content
  > .v-list-item__title,
.left-nav .v-navigation-drawer__content .v-list-group .v-list-item__title {
  color: var(--accent-color);
}

label {
  margin-bottom: 0px;
}

.text-white {
  color: white !important;
}
.child-text-white * {
  color: white !important;
}

.v-list-item--active {
  background-color: rgb(39, 39, 39) !important;
}

.v-list-group > .v-list-group__items > .v-list-item {
  padding-left: 30px !important;
}

/* Medium size Screen -> md */
@media screen and (min-width: 1200px) {
  .omt-md-25 {
    margin-top: 90px !important;
  }
}

@media screen and (max-width: 1200px) {
  .omt-6 {
    margin-top: 28px !important;
  }
}

@media print {
  html,
  body {
    display: none; /* hide whole page */
  }
}

a.v-btn:hover {
  text-decoration: none;
}

a.font-grey {
  color: #5b5b5b !important;
}

a.font-grey:hover {
  color: #bfb497 !important;
}

/* Custom behaviour */

.nnit-top-bar {
  z-index: 4;
}

header.flex-grow-0 {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  z-index: 56 !important;
  padding-top: 34px;
}

.header-image {
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
}

.header-image .header-logo {
  position: absolute;
  right: 20px;
  top: 120px;
}

.nnit-header-logo {
  cursor: pointer;
}

.nnit-header-logo {
  width: 120px !important;
  height: 40px;
}

.headline {
  padding: 15px;
  background-color: var(--beige);
  color: white;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  padding-left: 48px;
  bottom: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 960px) {
  .headline {
    width: 100%;
    padding-left: 32px !important;
    padding: 5px;
    bottom: 0 !important;

    background-color: var(--beige);
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 0px;
  }

  .headline.bottom-banner {
    bottom: 30px !important;
  }
}

.headline h1 {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.headline h2 {
  font-size: 1.2rem;
  /* text-transform: initial; */
  color: white;
}

.v-application .text-md-h5 {
  font-size: 1.8rem !important;
}

.headline .text-md-h5 {
  font-family: "noto-sans", sans-serif !important;
}

@media (max-width: 550px) {
  .headline .text-subtitle-2 {
    font-size: 0.775rem !important;
    line-height: 1.075rem;
  }
}

.header-image.large .headline h1 {
  font-size: 1.7rem;
}

.header-image.large .headline h2 {
  font-size: 1.4rem;
}

.headline img {
  vertical-align: initial;
}

.text-content {
  margin-top: 20px;
  padding-bottom: 20px;
}

.nnit-top-bar-title {
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: red;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 18px;
  border-bottom: 7px solid #ededed;
}

h2,
.h2,
h3,
.h3 {
  color: var(--blue);
  font-weight: 400;
  /* text-transform: uppercase; */
}

h4,
.h4,
h5,
.h5 {
  color: var(--blue);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--blue);
  margin-bottom: 10px;
}

.divider.right-side {
  position: absolute;
}

p {
  color: var(--grey-font);
}

.row.menu-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.menu-row .col-xl-9 {
  margin-right: 15px !important;
}

.block-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
}

.nnitimage {
  height: 75%;
  position: absolute;
  object-fit: contain;
  width: 100%;
}

.homeimage {
  height: 100%;
  position: absolute;
  object-fit: contain;
  width: 100%;
}

.paddingmainclass {
  position: relative;
  padding-bottom: 56.2%;
}

.paddingsubmainclass {
  position: relative;
  padding-bottom: 15%;
}

.homepadding {
  position: relative;
  padding-bottom: 37.5%;
}

.nnit-upload {
  height: 90px;
  background-color: white !important;
}

.nnit-upload .file-selection {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 60% 20% auto;
  color: var(--grey-font);
}

.nnit-upload .file-name {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.nnit-upload .file-name:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.nnit-upload .file-size {
  text-align: right;
}

.nnit-upload .file-delete {
  text-align: right;
}

.nnit-upload .file-delete button {
  font-size: 20px;
}

.nnit-upload .already-uploaded {
  background-color: white;
  padding: 10px;
  margin-top: -5px;
}

.nnit-upload .already-uploaded .file-selection {
  grid-template-columns: 85% auto;
}

.nnit-upload .v-file-input__text--placeholder {
  cursor: pointer;
}

/* --- */
.v-toolbar.v-toolbar--absolute {
  width: auto !important;
}

header div.v-toolbar__content {
  height: auto !important;
}

.theme--light.v-divider {
  border-color: var(--accent-color) !important;
  border-width: thick 0 0 !important;
}

.datainput {
  border-radius: 0px;
}
.datainput.primary--text {
  color: white !important;
  caret-color: black !important;
}
.datainput.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(
    .v-input--has-state
  )
  > .v-input__control
  > .v-input__slot
  fieldset {
  color: white !important;
}
.datainput .theme--light.v-input {
  color: var(--accent-color);
}
.nnit-upload .datainput > .v-input__control {
  background-color: white !important;
}
.datainput > .v-input__control .v-input__slot {
  background-color: white !important;
}
.datainput .v-label--active {
  left: -12px !important;
  top: -2px !important;
}

.footerbtn.close {
  top: 0px !important;
}
.footerbtn.v-btn {
  letter-spacing: 0em;
  font-size: 20px;
}

.footer .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.footer {
  text-align: left;
}

.no-background-hover::before {
  background-color: transparent !important;
}

.headerbtn {
  color: var(--accent-color) !important;
  font-size: 16px !important;
  letter-spacing: normal;
  border-radius: 0px;
  transition: 0.5s;
  border-bottom: 10px solid transparent;
  padding-bottom: 10px !important;
}

.headerbtn.no-border-bottom {
  border-bottom: 0px solid transparent;
  padding-bottom: 0px !important;
}

.header-divider {
  width: 100%;
  height: 10px;
  background-color: var(--blue);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.v-toolbar__content {
  padding-bottom: 0px;
  background-color: white;
}

.menubtn {
  color: var(--accent-color) !important;
  font-size: 16px !important;
  letter-spacing: normal;
  border-radius: 0px;
  transition: 0.3s;
  width: 100%;
}
.menubtn > .v-btn__content {
  border-bottom: 1px solid var(--accent-color);
}

.headerbtn:hover {
  color: var(--beige) !important;
  border-bottom: 10px solid var(--beige);
}
.headerbtn.no-border-bottom:hover {
  border-bottom: 0px solid transparent;
}

/* Responsiveness Adjustments */
@media (max-width: 1199px) {
  .menu-bar {
    padding-bottom: 15px;
  }
  .right-menu-bar {
    margin-top: -10px;
  }
  .header-divider {
    height: 5px;
  }
}

@media (min-width: 400px) {
  .theme--light.v-bottom-navigation .v-btn:not(.v-btn--active),
  .v-item-group.v-bottom-navigation .v-btn.v-btn--active {
    color: white !important;
    text-transform: none !important;
    max-width: unset;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    transition: 0.3s;
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .mobile {
    display: none !important;
  }
}
@media (max-width: 1280px) {
  .mobileForm {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .desktop {
    display: none !important;
  }
  .mobileFooter {
    padding: 64px 0px 250px 0px !important;
  }
}
.nnit-top-left .hamburger {
  width: 30px;
  height: 30px;
}
.nnit-top-left .headerimg {
  width: 30px;
  margin-left: 30px;
}
.nnit-top-left {
  display: flex;
}

@media (max-width: 1199px) {
  .mbres {
    display: none !important;
  }
}

.v-application--is-ltr
  .v-tabs--align-with-title
  > .v-tabs-bar:not(.v-tabs-bar--show-arrows):not(
    .v-slide-group--is-overflowing
  )
  > .v-slide-group__wrapper
  > .v-tabs-bar__content
  > .v-tab:first-child,
.v-application--is-ltr
  .v-tabs--align-with-title
  > .v-tabs-bar:not(.v-tabs-bar--show-arrows):not(
    .v-slide-group--is-overflowing
  )
  > .v-slide-group__wrapper
  > .v-tabs-bar__content
  > .v-tabs-slider-wrapper
  + .LanguageselectTab.v-tab,
.v-application--is-ltr
  .v-tabs--align-with-title
  > .v-tabs-bar:not(.v-tabs-bar--show-arrows):not(
    .v-slide-group--is-overflowing
  )
  > .v-slide-group__wrapper
  > .v-tabs-bar__content
  > .v-tabs-slider-wrapper
  + .userTypeselectTab.v-tab {
  margin-left: 0 !important;
}

.innercreatetraining {
  border: 2px solid white;
}

.innercreatetraining > .theme--light.v-tabs-items {
  background-color: inherit !important;
}

@media only screen and (max-width: 600px) {
  .mainmobile {
    padding-bottom: 40px !important;
  }
}

.v-application .text-md-h5-snd {
  line-height: 28px;
  font-size: 24px !important;
  font-family: "noto-sans", sans-serif !important;
}

header .menu-bar .nnit-top-bar-title {
  border: unset;
  font-size: 16px;
  padding: 4px 0px;
}
header .v-toolbar__content .headerbtn,
.v-menu__content .menubtn {
  font-weight: 400;
  transition: unset;
  min-width: 150px !important;
}
.theme--light.v-bottom-navigation .v-btn:not(.v-btn--active),
.v-item-group.v-bottom-navigation .v-btn.v-btn--active {
  font-weight: 400;
  padding: 8.5px 16px !important;
}
.v-application .text-h5,
.v-application .text-h6,
.v-expansion-panel-header > :not(.v-expansion-panel-header__icon) {
  font-family: "noto-sans" !important;
  font-weight: 400;
}
.v-item-group.v-bottom-navigation--absolute {
  position: unset;
}
.toolDetailsPgNewWrap .text-content h4 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 30px;
  font-weight: 400;
}
.toolDetailsPgNewWrap .text-content p {
  line-height: 28px;
  color: #5b5b5b;
}
.v-application .opentrainingsWrap td span {
  margin-right: 20px !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 7px 15px;
  font-size: 12px;
  line-height: 17px;
  width: max-content;
  float: right;
  color: #fff;
  background: #004581;
  border-radius: 20px;
}
.v-application .opentrainingsWrap td span i {
  font-size: 16px;
  color: #fff;
  margin-right: 3px;
}
.lastBtnSubmit {
  border-top: 1px solid #ccc;
  margin: 10px 15px;
  padding: 25px 0px 0px;
}
html
  body
  .v-application
  .right-side-block
  .v-btn:not(
    .noBorderBtn button,
    .switchBtn,
    .headerbtn,
    .footerbtn,
    .colorWhite
  ),
html body .v-application .lastBtnSubmit .v-btn {
  font-size: 18px !important;
  height: 45px !important;
  margin-right: 20px !important;
}
html body .v-application .right-side-block .v-btn i,
html body .v-application .lastBtnSubmit .v-btn i {
  font-size: 20px !important;
  margin-right: 3px;
  margin-left: 0px !important;
}
.v-text-field--outlined.categorySearch fieldset {
  border: 1px solid #c0c0c0;
}
.v-text-field--outlined.categorySearch .v-input__append-inner .v-icon.v-icon {
  font-size: 20px;
  top: 1px;
}

@media (max-width: 1580px) {
  .v-application .mr-2.headerbtn {
    margin-right: 0px !important;
    padding: 0px 10px;
  }
}

@media (max-width: 1440px) and (min-width: 1280px) {
  .mob-mb-2 {
    margin-top: 8px;
  }
}

@media (max-width: 1360px) {
  .v-toolbar__content .headerbtn {
    padding: 0px 9px !important;
    font-size: 14px !important;
  }
}

.nnitcontainer {
  max-width: 900px !important;
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1024px) {
  .headline .text-md-h5 {
    font-size: 22px !important;
    padding: 5px 0px;
  }
  html body .v-application .v-btn:not(.noBorderBtn button) {
    font-size: 14px !important;
    height: 36px !important;
    margin-right: 10px !important;
  }
  html body .v-application .v-btn i {
    font-size: 16px !important;
  }

  .paddingsubmainclass {
    position: relative;
    padding-bottom: 45%;
  }
}

@media (max-width: 488px) {
  .mob-mb-2 {
    margin-top: 8px;
  }
}
